body {
  width: 480px;
  height: 767px;
  margin: auto;
}

section {
  display: grid;
  align-items: center;
  text-align: center;
}

.container {
  display: grid;
  width: 480px;
  height: 767px;
  grid-template-columns: 240px 240px;
  grid-template-rows: 75px 150px 175px 125px 250px 250px 80px;
  grid-template-areas: 
  "a a"
  "b b"
  "c c"
  "d d"
  "e f"
  "g h"
  "i i";
}

header {
  grid-area: a;
  display: grid;
  align-items: center;
  text-align: center;
}

section:nth-of-type(1) {
  grid-area: b;
}

section:nth-of-type(2) {
  grid-area: c;
}

section:nth-of-type(3) {
  grid-area:d ;
}

section:nth-of-type(4) {
  grid-area:e ;
}

section:nth-of-type(5) {
  grid-area:f ;
}

section:nth-of-type(6) {
  grid-area: g ;
}

section:nth-of-type(7) {
  grid-area: h;
}

footer {
  grid-area: i;
  display: grid;
  align-items: center;
  text-align: center;
}


@media (min-width: 960px){

  section {
    display: grid;
    align-items: center;
    text-align: center;
  }

  main {
    width: 100vw;
    height: 100vh;
    margin: auto;
  }
  
  .container {
    display: grid;
    width: auto;
    height: 767px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr 2fr;
    grid-template-areas: 
    "a a a a a"
    "b c c d d"
    "b e f g h"
    "b i i i i";
  }
  
  header {
    grid-area: a;
    display: grid;
    align-items: center;
    text-align: center;
  }
  
  section:nth-of-type(1) {
    grid-area: b;
  }
  
  section:nth-of-type(2) {
    grid-area: c;
  }
  
  section:nth-of-type(3) {
    grid-area:d ;
  }
  
  section:nth-of-type(4) {
    grid-area:e ;
  }
  
  section:nth-of-type(5) {
    grid-area:f ;
  }
  
  section:nth-of-type(6) {
    grid-area: g ;
  }
  
  section:nth-of-type(7) {
    grid-area: h;
  }
  
  footer {
    grid-area: i;
    display: grid;
    align-items: center;
    text-align: center;
  }
}