header {
  background-color: blueviolet;
}

section:nth-of-type(1) {
  background-color: crimson;
}

section:nth-of-type(2) {
  background-color: coral;
}

section:nth-of-type(3) {
  background-color: rgb(199, 52, 101);
}

section:nth-of-type(4) {
background-color: rgb(25, 25, 241);
}
section:nth-of-type(5) {
  background-color: rgb(250, 88, 28);
  }

  section:nth-of-type(6) {
  background-color: rgb(8, 184, 8);
}

section:nth-of-type(7) {
  background-color: rgb(84, 84, 231);
}

footer {
  background-color: rgb(228, 213, 13);
}

@media (min-width: 768px) {

  header {
    background-color: rgb(218, 61, 61);
  }
  
  main section:first-child {
    background-color: rgb(197, 113, 130);
  }
  
  main section:nth-child(2) {
    background-color: rgb(214, 134, 105);
  }
  
  main section:nth-child(3) {
    background-color: rgb(190, 84, 119);
  }
  
  #efgh section:first-child {
  background-color: rgb(77, 77, 185);
  }
  
  #efgh section:last-child {
    background-color: rgb(199, 105, 71);
    }
  
  #efgh section:nth-child(2) {
    background-color: rgb(114, 189, 114);
  }
  
  #efgh section:nth-child(3) {
    background-color: rgb(120, 120, 202);
  }
  
  footer {
    background-color: rgb(201, 192, 73);
  }
}

@media (min-width: 960px) {

  header {
    background-color: rgb(202, 218, 61);
  }
  
  main section:first-child {
    background-color: rgb(128, 21, 42);
  }
  
  main section:nth-child(2) {
    background-color: rgb(253, 68, 0);
  }
  
  main section:nth-child(3) {
    background-color: rgb(240, 0, 0);
  }
  
  #efgh section:first-child {
  background-color: rgb(0, 0, 204);
  }
  
  #efgh section:last-child {
    background-color: rgb(39, 184, 152);
    }
  
  #efgh section:nth-child(2) {
    background-color: rgb(0, 211, 0);
  }
  
  #efgh section:nth-child(3) {
    background-color: rgb(153, 76, 163);
  }
  
  footer {
    background-color: rgb(69, 173, 151);
  }
}